{{!< default}}
<div class="content-area">
    <main class="site-main">
        <div class="landing">
            <h3>
                Hi, I'm <span class="landing-text">Rayhan Nabi</span>
            </h3>

            <h1>
                building apps,
                <br>
                experiences, sharing stories.
            </h1>

            <p>
                a <b>Software Engineer</b> & <b>Developement Consultant</b> from Dhaka, BD.
                <br>
                I specialize in iOS/macOS Apps, Apple Ecosystem, and related tech.
                <br>
                An <a href="https://opensource.com/open-source-way"><b>Open Source</b></a> Advocate.
            </p>

            <div class="landing-cta-block">
                <button class="landing-cta" role="button"
                    onclick="window.open('https://github.com/rayhannabi', '_blank')">
                    <i class="fa fa-github"></i> Visit Github
                </button>
                <button class="landing-cta landing-cta-primary" role="button" onclick="window.location.href='blog'">
                    <i class="fa fa-book"></i> Go to blogs
                </button>
            </div>
    </main>
</div>